body 
{
    /* background: url('http://in3.co.in:4125/HSILPortal/Login/hsil_image2.jpg'); */
    background: url('http://fast.org.in/HSILPortal/Login/hsil_image2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;


}